[submodule "vendor/ogg"]
	path = vendor/ogg
	url = https://github.com/xiph/ogg.git
	branch = master
[submodule "vendor/opus"]
	path = vendor/opus
	url = https://github.com/xiph/opus.git
	branch = master
[submodule "vendor/opusfile"]
	path = vendor/opusfile
	url = https://github.com/xiph/opusfile.git
	branch = master

[submodule "vendor/librw"]
	path = vendor/librw
	url = https://github.com/klaymen1n/librw
	branch = master
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft/
[submodule "vendor/libmpg123"]
	path = vendor/libmpg123
	url = https://github.com/gypified/libmpg123
